
//
// VARIABLES
//

$color-primary-1:#E9E581;
$color-primary-2: #F6F6F6;
$color-primary-3: #DE1B1B;
$color-primary-4: #2B2B2B;
$color-primary-5: #4D4D4D;

// Font stacks
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
$helvetica: Helvetica, Arial, sans-serif;
$sansserif: "Source Sans Pro", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
